[submodule "recommender/book"]
	path = recommender/book
	url = git@github.com:Wanfengyueluo/book.git
[submodule "recommender/ECBookSystem"]
	path = recommender/ECBookSystem
	url = git@github.com:Wanfengyueluo/book-server.git
