[submodule "BookRecommenderSystem/recommender-web/book"]
	path = BookRecommenderSystem/recommender-web/book
	url = git@github.com:Wanfengyueluo/book.git
[submodule "BookRecommenderSystem/recommender-serever/ECBookSystem"]
	path = BookRecommenderSystem/recommender-serever/ECBookSystem
	url = git@github.com:Wanfengyueluo/book-server.git
